body {
    margin: 0;
    padding: 0;
  }
  .introduce {
    margin-left: 200px;
  }
  
  .introduce h1 {
    font-size: 40px;
    color: grey;
  }
  .introduce ul {
      color: gray;
  }
  
  .img1 {
    border-radius: 5%;
    width: 300px;
    height: 400px;
    position: absolute;
    top: 10%;
    right: 30%;

  }
  .img2 {
    border-radius: 5%;
    width: 250px;
    height: 400px; 
  position: absolute;
  top: 80%;
  left: 15%;
  }
  .img {
    width: 50px;
    height: 50px;
    border-radius: 10%;
  }
  
  .sec-1 {
    margin: 50px;
  }
  
  .sec-2 {
      margin: 15px 15px 15px;
  }
  
  .sec-3 {
    position: absolute;
    top: 150%;
    margin: 15px 200px;
  }
  
  
  .about {
    position: absolute;
    top: 80%;
    left: 40%;
    margin-right: 30px;
  }
  .about p {
      color: gray;
  }
  
  .container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 30px;
  }
  .box2 {
  
    border: 2px solid rgb(221, 198, 198);
    padding: 20px;
  }
  
  .box2 p{
    color: gray;
  }
  .box2 ul{
    color: gray;
  }
  .box3 {
  
    border: 2px solid rgb(221, 198, 198);
    padding: 20px;
  }
  
  .box3 p{
    color: gray;
  }
  .box3 ul{
    color: gray;
  }
  .box1 {
  
    border: 2px solid rgb(221, 198, 198);
    padding: 20px;
  }
  
  .box1 p{
    color: gray;
  }
  .box1 ul{
    color: gray;
  }
  
  .box1:hover{
    background-color: rgb(105, 250, 255);
  }